@{
    ViewBag.Title = "Contact";
}

<br />
<div class="contact-head">
    <h2 style="text-align:center">LIÊN HỆ VỚI CHÚNG TÔI</h2>
</div>
<div class="left">
    <h3>DỊCH VỤ KHÁCH HÀNG</h3>
    <p><b>Địa chỉ: </b>Khum bit nua</p>
    <p><b>Email: </b>ngannguyen@gmail.com</p>
    <p><b>Chăm sóc khách hàng: </b>ad@gmail.com</p>
    <p class="time">Shop hỗ trợ 24/24</p>
    <p>..............................................</p>
    <div class="title">
        <h3>CHÍNH SÁCH BẢO HÀNH</h3>
    </div>
    <div class="baohanh">
        <p>+ Bạn được hỗ trợ về sản phẩm với chính sách bảo hành đổi trả sách</p>
        <p>+ Tuy nhiên, chính sách này không bao gồm những trường hợp đặc biệt như sau :</p>
        <p>+ Sách của bạn bị mất phiếu bảo hành.</p>
        <p>+ Sách có tác động quá mạnh làm hư hỏng nghiêm trọng</p>
        <p>+ Sách không phải của shop bán ra.</p>
        
    </div>
</div><br /><br />
<h5 style="text-align:center">---- Xin chân thành cảm ơn quý khách!!! -----</h5>
<div class="right">
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVmkDHBddblHbba9VGV24Yu032wCb0uc4&callback=initMap&libraries=places&v=weekly"
            async></script>
</div>
